.about-page{
    .flex-justify{
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        figure{
            width: 30%;
            -webkit-box-shadow: 0px 0px 6px 1px rgba(255,255,255,1);
            -moz-box-shadow: 0px 0px 6px 1px rgba(255,255,255,1);
            box-shadow: 0px 0px 6px 1px rgba(255,255,255,1);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .introduce{
            width: 68%;
            h3{
                font-size: 1.5vw;
                word-break: break-word;
            }
            ul{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                margin: 20px 0;
                li{
                    width: 48%;
                    font-size: 18px;
                    position: relative;
                    padding-left: 18px;
                    margin: 5px 0;
                    font-weight: bold;
                    a{
                        span{
                            border-bottom: 1px solid #fff;
                        }
                    }
                    span{
                        font-weight: normal;
                        color: #fff;
                        
                    }
                    &::before{
                        position: absolute;
                        content: ">";
                        font-size: 18px;
                        top: 0;
                        left: 0;
                        color: #18d26e;
                    }
                }
            }

            .skill-man{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .pro{
                    width: 48%;
                    margin-top: 20px;
                    .title-percent{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 5px;
                        h5, p{
                            font-size: 16px;
                            font-weight: normal;
                            position: relative;
                            padding-left: 18px;
                            &::before{
                                position: absolute;
                                content: ">";
                                font-size: 16px;
                                font-weight: bold;
                                top: -1px;
                                left: 0;
                                color: #18d26e;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .about-page{
        .flex-justify{
            .introduce{
                h3{
                    font-size: 2.5vw;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .about-page{
        .flex-justify{
            figure{
                width: 100%;
            }
            .introduce{
                width: 100%;
                margin-top: 10px;
                h3{
                    font-size: 20px;
                }
                ul{
                    li{
                        width: 100%;
                        font-size: 15px;
                        &::before{
                            font-size: 13px;
                        }
                    }
                }
                .skill-man{
                    .pro{
                        width: 48%;
                        margin-top: 15px;
                        .title-percent{
                            h5, p{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}
