.menu-top{
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: #ffffff21;
    transition: 0.4s;
    nav{
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        li{
            list-style: none;
            a{
                color: #fff;
                font-size: 18px;
                padding-bottom: 5px;
                position: relative;
                &::after{
                    position: absolute;
                    content: "";
                    background: #18d26e;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    border-radius: 2px;
                    transition: 0.4s;
                }
                &:hover{
                    color: #18d26e;
                    &::after{
                        width: 100%;
                    }
                }
            }
        }
    }
    
    .sp-menu{
        display: none;
    }

    .btn-toggle {
        height: 26px;
        width: 32px;
        margin: 0 0 0 20px;
        background: none;
        outline: none;
        border: none;
        .line{
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: #fff;
        }
        .line1{
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
        }
        .line2 {
            transition: transform 0.2s ease-in-out;
        }
        .line3 {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
        }
    }
    .active-button{
        .line{
            background: #000;
        }
        .line1{
            transform: rotate(45deg);
        }
        .line2{
            transform: scaleY(0);
        }
        .line3{
            transform: rotate(-45deg);
        }
    }
}

.change-bg{
    background: #fff;
}
.addBackground{
    background: #575454;
}
.glitch{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../../assets/img/background.gif);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.flex-button{
    display: none;
}

@media screen and (max-width: 767px){
    .menu-top{
        .pc-menu{
            display: none;
        }
        .sp-menu{
            display: block;
            li{
                padding: 20px 0;
                a{
                    color: #000;
                }
            }
        }

        .hidden-menu{
            transform: translateX(-100%);
            transition: 0.4s;
        }

        .show-menu{
            transform: translateX(0%);
            transition: 0.4s;
            height: 100vh;
        }

        .btn-toggle{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .flex-button{
        display: flex;
        justify-content: flex-end;

    }
}